<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Uband的朋友们</title>
    
    <link rel="stylesheet" href="/static/lib/weui/style/weui.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body ontouchstart>
    <!-- logo -->
    <div class="logo-page">
        <img class="uband-logo" src="/static/img/uband-logo.png" alt="">
    </div>
    <!-- end of logo-->
    <div>
        <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/static/img/heads/guoshushu.png" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">锅蜀黍</h4>
                        <p class="weui-media-box__desc">这是一个很厉害的人</p>
                    </div>
                </a>
                 <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="/static/img/heads/guoshushu.png" alt=""/>
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">锅蜀黍</h4>
                        <p class="weui-media-box__desc">这是一个很厉害的人</p>
                    </div>
                </a>
                
            </div>
    </div>
</body>
</html>
